body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 500px;
max-width:100%;
  background-color:#000033;
}

#chartdiv {
  width: 100%;
  height: 500px;
  max-width: 100%;
  background-color: #000033;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out; /* Smooth fade-in effect */
}

#earth-animation.visible #chartdiv {
  display: block;
  opacity: 1; /* Fully visible */
}

